body{


    margin: 256;
    padding: 200;
   background: url(Q4.jpg) no-repeat 0% 0px;
    min-height: 0vh;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
  }
  body:hover{
  
  transition: 3s;
    margin: 256;
    padding: 200;
   background: url(Q8.jpg) no-repeat 0% 0px;
    min-height: 0vh;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
  }
  
/*

body {
    background-color: #07a5a2;
    font-family: Arial, sans-serif;
}*/

form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 28px;
    box-shadow: 12px 24px 65px rgb(3, 3, 3);
}


.all {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

.btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.links {
    margin-top: 15px;
}

footer {
    margin-top: 70px;
    text-align: center;
    color: #131010;
}

.validation-message {
    color: #d9534f;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.roll, .fname, .lname, .mobile, .branch, .year, .mail, .password, .confirm, .imageuplod {
    width: 48%;
    display: inline-block;
    position: relative;
}

.confirm {
    margin-top: 15px;
}

.imageuplod {
    margin-top: 15px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    form {
        margin: 20px;
    }

    input {
        width: 100%;
    }

    .roll, .fname, .lname, .mobile, .branch, .year, .mail, .password, .confirm, .imageuplod {
        width: 100%;
        display: red;
    }
}


.er{
font-weight: bold;
color: red;

}


.a,.a1, .a2, .a3, .a4, .a5{
    border: 2px solid black;
}

.a:hover{
    border: 4px solid rgb(9, 223, 9);
}

.a1:hover{
    border: 4px solid rgb(9, 223, 9);
}
 .a2:hover{
    border: 4px solid rgb(9, 223, 9);
}
 .a3:hover{
    border: 4px solid rgb(9, 223, 9);
}
 .a4 :hover{
    border: 4px solid rgb(9, 223, 9);
}

 .a5:hover{
    border: 4px solid rgb(9, 223, 9);
}
