body{
max-width: 100%;
max-height: 100%;

background-color: rgb(26, 220, 101);

}

h1{

text-align: center;
font-size: 189%;
color:white;
text-shadow: 0px  2px 14px rgb(10, 10, 10);


}


th{


color: white;
background-color: GREEN;



}

table{ 
    max-height: 50vw auto; font-size: 1%;
     font-size: 0.8VW; 
    display: flex;
    justify-content: center;
    text-align: center;
    width: fit-content;
 background-color: white;
 
position: relative;
 left: 15%;
}

.workta{
  position: absolute;
  top:136px;
  left: 0;
  }
.worktb{

position: absolute;
top: 23%;
left: 5%;


}


.logout{
    color: rgb(249, 250, 250);
    font-weight: bolder;
    background-color: rgb(135, 64, 217);
    border-radius: 4px;
border: 2px solid black;
width: 7%;
height: 4%;
font-size: 37%;



}




@media (max-width:680px) {



  body{
    max-width: 100%;
    max-height: 100%;
    
    background-color: rgb(3, 3, 3);
    
    }
    
    h1{
    
    text-align: center;
    font-size: 189%;
    color:white;
    text-shadow: 0px  2px 14px rgb(10, 10, 10);
    position: relative;
    left: 12px;
    }
    
    
    th{
    
    
    color: white;
    background-color: GREEN;
    
    
    
    }
    
    table{ 
        max-height: 50vw auto;
         font-size: 1%;
          margin: 1%;
        display: flex;
        justify-content: center;
        text-align: center;
        width: fit-content;
     background-color: white;
     gap: 1%;
 position: relative;

 left: -4px;
    }
    
    
    
    .logout{
        color: rgb(249, 250, 250);
        font-weight: bolder;
        background-color: rgb(135, 64, 217);
        border-radius: 4px;
    border: 2px solid black;
    width: 7%;
    height: 4%;
    font-size: 37%;
    
    
    
    }
  
}

@media (max-width:700px) {
  
.body{
  background-color: pink;
}
  
  table{ 
    max-height: 50vw auto; font-size: 1%;
      margin: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
    width: fit-content;
 background-color: white;
 gap: 6%;
position: relative;

left: -4px;
}












}